.btn:hover {
    background-color: white;
    color: black;
}

.add-to-cart {
    background-color: blue;
    border: 2px solid blue;
    color: white;
}

.add-to-cart:hover {
    border: 2px solid blue;
}

.remove-btn {
    background-color: red;
    border: 2px solid red;
    color: white;
}

.remove-btn:hover {
    border: 2px solid red;
}