h3 {
    clear: both;
    display: inline;
    vertical-align: bottom;
    padding-top: 20px;
    padding-right: 20px;

}


.btn:hover {
    background-color: white;
    color: black;
}

.add-to-cart {
    background-color: blue;
    border: 2px solid blue;
    color: white;
}

.add-to-cart:hover {
    border: 2px solid blue;
}

.remove-btn {
    background-color: red;
    border: 2px solid red;
    color: white;
}

.remove-btn:hover {
    border: 2px solid red;
}


.filter {
    display: inline-block;

}


tr:nth-child(even) {
    background-color: #f2f2f2;
}